.link-compra{
    background-color: #10eb31;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 64.2vh;
    font-size: large;
   
}

.link-compra{
    background-color: #13f726;
}