@media screen and (max-width: 800px) and (min-width: 70px){
    .ima{
    margin-top: -0%;
    width: 50vh;
    height: 75vh;
    display: block;
    }

div.intem{
    margin: 0px;
        margin-top: 1vh;
        }
.link-compra{
    margin-top: 76vh;
    margin-right: 5vh;
    }
    
}