@media screen and (max-width: 400vh) {
    .ima{
        height: 50vh;
        width: 300px;
        display: block;
        margin-right: auto;
       margin-top: -18%;
    }
    div.intem{
        min-width: auto;
        display: block;
        margin-left: 315px;    
    }
    
}