@media screen and (max-width: 700px) {
    .ima{
    margin-top: -0%;
    width: 50vh;
    height: 75vh;
    display: block;
    }

div.intem{
    margin: 0px;
        margin-top: 1vh;
        }
.link-compra{
margin-left: -2.1px;
    margin-top: 76vh;
font-size: 20px;
}
}