@media screen and (max-width: 800px) and (min-width: 70px){
    .ima{/* estilo da imagem*/
    margin-left: 5%;
    margin-top: auto;
    width: -9%;
    height: -5;
}

 div.intem{/* estilo do texto*/
    font-size: 16px;
    margin: 0px;
        margin-top: 1vh;
        }
 .link-compra{/* estilo do link de compra*/
    margin-top: 56.5vh;
   margin-left: 35px;
    }
    
}