@media screen and (max-width: 700px) {
    .ima{
    margin-top: -0%;
    width: 50vh;
    height: 70vh;
    display: block;
    }

div.intem{
    margin: 0px;
        margin-top: 1px;
        }
.link-compra{
margin-left: 60px;
    margin-top: 20px;
font-size: 20px;
}
}