body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-direction: ;
}
.ima{
    height: 70vh;
    width: 400px;
    display: block;
    margin-right: auto;
   margin-top: -18%;
}
div.intem{
    min-width: auto;
    display: block;
    margin-left: 415px;
   
}
@media screen and (max-width: 700vh) {
    
    
}