body {/* estilo do corpo da pagina*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d8d8d5;/* cor de fundo da pagina*/
    color: #333;/* cor do texto*/
    margin: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

}

.ima{/* estilo da imagem*/
/* largura da imagem*/
height: 56%;/* altura da imagem*/
margin-left: 1%;/* margem esquerda da imagem*/
margin-top: -21%;/* margem superior da imagem*/
position: absolute;/*posiçao absoluta da imagem*/
display: flex;
}
    
div.intem{/* estilo do texto*/
    font-size: 20px;
    min-width: auto;
    display:block;
    margin-left:415px;
}



