body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-direction: direction;
}

.ima{
margin-top: -54vh;
margin-right: -30px;
width: 66vh;
height: 110vh;
position: absolute;
display: flex;
}
    
div.intem{
    min-width: auto;
    display: block;
    margin-left: 415px;
   }

   b